@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <h2>Clinica Veterinária Cachorro Louco</h2>
    <img src="https://cdn-icons-png.flaticon.com/512/1402/1402219.png" />
</div>
